# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\russe\Dropbox\Wustenberg\!_Tandon\6643_Vision\Repos\rw2873_CV_Project_F\optical-flow-segmentation-analysis\rw2873\op_flow_implementations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
